@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: var(--font-montserrat), sans-serif;
  }
  
  .font-display {
    font-family: var(--font-bebas), sans-serif;
  }
}




